<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
             crossorigin="anonymous">
    </head>
    <body>
        <% include partials/siteBanner %>
        <% include partials/navbar %>
        <table class='table'>
          <% for(var i = 0; i < characters.length; i++){%>
            <%if(i % 3 ==0){%><tr></tr><%}%>
              <td><div class="card text-white bg-dark mb-3" style="width: 18rem;">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                  <div class="card-body">
                    <h5 class="card-title"><%=characters[i].name%></h5><br>
                    <!-- <p class="card-text">Kills: <%=characters[i].kills%></p>
                    <p class="card-text">Wins: <%=characters[i].gamesWon%></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <table>
                      <tr>
                        <td>Kills: <%=characters[i].kills%></td>
                        <td>Deaths: <%=characters[i].deaths%></td>
                      </tr>
                      <tr>
                          <td>Games: <%=characters[i].gamesPlayed%></td>
                          <td>Wins: <%=characters[i].gamesWon%></td>
                        </tr>
                    </table>
                  </div>
                </div></td>
            
          <%}%>
        </table>
    </body>
</html>